<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="autoSuggestConnectionString" value="server=.\SQLEXPRESS;Integrated Security=SSPI;database=northwind;provider=SQLNCLI.1"/>
		<!--<add key="Anthem.ResponseEncoding" value="UTF-8" />-->
		<!--<add key="Anthem.ResponseType" value="application/x-anthem" />-->
		<!--<add key="Anthem.IncludePageScripts" value="true" /> -->
	</appSettings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
	</system.web>
</configuration>
