<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="autoSuggestConnectionString" value="Data Source=CC-UPK71Y6OGOJG\SQLEXPRESS;Initial Catalog=northwind;Provider=SQLNCLI;UID=sa;PWD=nora2601;"/>
		<!--<add key="Anthem.BaseUri" value="http://localhost/Anthem-Examples-2003/" />-->
		<!--<add key="Anthem.ResponseEncoding" value="UTF-8" />-->
		<!--<add key="Anthem.ResponseType" value="application/x-anthem" />-->
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
	</system.web>
</configuration>
